.form {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $backgroundColor;

  padding: 0 4rem;

  & *:not(label) {
    margin-bottom: 0.8rem;
  }

  & input {
    font-size: 1.4rem;
  }
}

.text {
}

@media (max-width: 800px) {
  .form {
  }
}
