.form {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  padding: 0 4rem;
}

@media (max-width: 800px) {
  .form {
  }
}
